name: CI Pipeline (Quality & Tests)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  quality-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements/requirements_utils.txt
          pip install -r requirements/requirements_data.txt
          pip install -r requirements/requirements_model.txt
          pip install -r requirements/requirements_api.txt
          pip install pytest flake8 httpx

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors
          flake8 src/ --count --show-source --statistics
          flake8 tests/ --count --show-source --statistics

      - name: Run Unit Tests and Integration Tests with Pytest
        env:
          PYTHONPATH: .
          # We define fake credentials to prevent boto3 from attempting to connect to AWS during unit tests.
          AWS_ACCESS_KEY_ID: testing
          AWS_SECRET_ACCESS_KEY: testing
          AWS_SECURITY_TOKEN: testing
          AWS_SESSION_TOKEN: testing
          AWS_DEFAULT_REGION: us-east-1
          BUCKET_NAME: test-bucket
        run: |
          pytest -m tests/